@define-color bg-hover #1A1A28;
@define-color bg #1E1E2E;
@define-color fg #5CF;
@define-color dark-fg #161320;
@define-color border @fg;

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: "SF Pro", "Lilex Nerd Font";
  font-size: 12pt;
  padding-bottom: 1px;
}

tooltip {
  background: @bg;
  border-radius: 7px;
  border: 2px solid @border;
}

window#waybar {
  background-color: transparent;
  color: @fg;
}

#custom-arch-pill {
  margin: 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  background-color: @fg;
  color: @bg;
}

#window {
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 7px;
	background-color: @bg;
	color: @fg;
}

#workspaces {
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 7px;
	background-color: @bg;
	color: @fg;
}

#workspaces * {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 7px;
	background-color: @fg;
	color: @bg;
}

#mode {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @fg;
}

#tray {
  margin: 5px 0 5px 5px;
  padding-left: 10px;
  border-radius: 7px 0 0 7px;
  background-color: @bg;
}

#network {
  margin: 5px 5px 5px 0;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  background-color: @bg;
  color: @fg;
}
/* #network.wifi, */
/* #network.ethernet { */
/*   color: @green; */
/* } */
#network.linked {
  color: @fg;
}
#network.disconnected,
#network.disabled {
  color: @fg;
}

#pulseaudio,
#cpu,
#memory,
#temperature,
#backlight,
#battery {
  margin: 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

#custom-playerctl {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

#custom-cafeine {
  margin: 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

#pulseaudio.muted {
  background-color: @bg;
  color: @dark-fg;
}

#clock {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

/* bottom waybar */
